<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success mt-3 mb-3">Add new quiz</button>
      <div class="card">
        <div class="list-group list-group-flush">
          <button class="list-group-item list-group-item-action" d-flx justify-content-between align-itme-center
          *ngFor="let q of quizzes">
          {{q.quizName}} 
          <small class="font-italic font-weight-lighter">
            {{q.quizQuestions.length}}.questions
          </small>      
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="mt-3 mb-3">
        <button class="btn btn-outline-dark">save</button>
        <button class="btn btn-link">cancel</button>
        <div class="card mt-3">
          <div class="card-header">general</div>
          <div class="card-body">coming soon</div>
        </div>
        <div class="card mt-3">
          <div class="card-header">Question</div>
          <div class="card-body">coming soon</div>
        </div>
        <div class="card mt-3">
          <div class="card-header">Others</div>
          <div class="card-body">coming soon</div>
        </div>
      </div>
    </div>
  </div>
</div>
